<div class="min-h-full flex justify-center">
    <div class="max-w-4xl bg-white w-full rounded-sm shadow">
        <div class="p-4 border-b">
            <h2 class="text-xl text-lumasuite">
                @Title
            </h2>
        </div>
        <div>
            @foreach (var group in ItemCollection.Basket)
            {
                <a class="md:grid md:grid-cols-3 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                    <span class="text-gray-600 cursor-pointer">
                        @group.Step
                    </span>
                    <span>
                        @string.Join(", ", group.Items.Select(x => x.Name))
                    </span>
                    <span class="flex justify-end">
                        @if (group.Price > 0)
                        {
                            <span>@group.Price €</span>
                        }
                    </span>
                </a>
            }
        </div>
        <div class="md:grid md:grid-cols-3 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <span class="text-gray-600 cursor-pointer"></span>
            <span class="font-semibold"></span>
            <span class="flex justify-end">@ItemCollection.TotalWithoutVat() €</span>
        </div>

        <div class="md:grid md:grid-cols-3 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <span class="text-gray-600 cursor-pointer"></span>
            <span class="font-semibold">VAT:</span>
            <span class="flex justify-end">@ItemCollection.Vat() €</span>
        </div>

        <div class="md:grid md:grid-cols-3 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
            <span class="text-gray-600 cursor-pointer"></span>
            <span class="font-semibold">TOTAL:</span>
            <span class="flex justify-end">@ItemCollection.Total() €</span>
        </div>

        <div class="p-4 border-b flex justify-end">
            @if (ItemCollection.CanLastBeRemoved())
            {
                <button class="uppercase px-10 py-2 bg-lumasuite text-white font-semibold cursor-pointer rounded outline-none focus:outline-none"
                        type="button"
                        @onclick="RemoveLast">
                    UPS
                </button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Title { get; set; }

    [CascadingParameter]
    public ItemCollection ItemCollection { get; set; }

    [Parameter]
    public EventCallback<Step> GoBackToStep { get; set; }

    private async Task RemoveLast()
    {
        var lastStep = ItemCollection.RemoveLast();
        if (lastStep != null)
        {
            await GoBackToStep.InvokeAsync(lastStep);
        }
    }
}
